/*Basic*/
.selectDisable {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.selectEnable { 
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -o-user-select: text;
    user-select: text;
}

.noDec {
    color: black;
    text-decoration: none;
}

.Content {
    position: relative;
    width: 90%;
    margin: 0 auto;
    top: 50px;
}

.ContentPlayer {
    width: 95%;
    height: 92%;
    margin: 1% auto 0 auto;
    margin-top: 50px;
}

.ContentSub {
    display: flex;
}


/*Header*/
.Header {
    width: 100%;
    height: 8%;
}

.HeaderBack {
    height: 100%;
    width: 100%;
    padding: 3px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    box-sizing: border-box;
    background-color: rgb(230, 230, 230);
}

.HeaderBanner {
    height: 100%;
    width: fit-content;
    display: flex;
    align-items: center;
}

.HeaderMenu {
    position: absolute;
    width: 70%;
    left: 50%;
    top: 8.5%;
    margin-left: -35%;
    text-align: center;
}

.HeaderLogo {
    height: 100%;
}

.Search {
    width: 100%;
}

.SearchBarForm {
    display: flex;
    justify-content: center;
}

.SearchBarInput {
    width: 60%;
}

.SearchBarIcon {
    height: 20px;
    margin-left: 3px;
    border: 2px solid black;
    border-radius: 3px;
    background-color: rgb(240, 240, 240);
    padding: 5px;
}


/*Video*/
.VideoDetail {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.VideoSection {
    width: 100%;
}

.VideoPlayer {
    width: 100%;
    height: 300px;
    border: 2px solid black;
    box-sizing: border-box;
}

.VideoInfo {
    border-left: 3px solid black;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
    margin-top: -20px;
    padding: 5px 10px;
    box-sizing: border-box;
    margin-bottom: 50px;
}

.Recommendations {
    width: 100%;
}

/*Video List*/
.VideoList {
    width: 100%;
}

.Wrapper {
    width: 100%;
}

.WrapperIcon {
    height: 10px;
    transform: rotate(-90deg);
    margin-right: 5px;
}

.WrapperIconRotate {
    transform: rotate(-180deg)
}

.WrapperContainer {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

.WrapperInfo {
    display: "flex";
    align-items: "center";
    background-color: lightgrey;
    border: 2px solid black;
    border-radius: 25px;
    box-sizing: border-box;
    padding-left: 10px;
    width: 100%;
}

.WrapperItem {
    width: 100%;
    border: 2px solid black;
    box-sizing: border-box;
    margin-bottom: 20px;
    display: flex;
    cursor: pointer;
}

.WrapperItemInfo {
    padding-left: 10px;
    overflow: hidden;
}

.VideoItemImg {
    object-fit: cover;
    width: 40%;
}

.ChannelItemImg {
    width: 20%;
}

.PlaylistItemImg {
    object-fit: cover;
    width: 40%;
}

/*Responsive*/
@media screen and (min-width: 650px) {
    .VideoPlayer {
        height: 600px;
    }
}

@media screen and (min-width: 800px) {
    .HeaderMenu {
        width: 40%;
        left: 50%;
        top: 1.5%;
        margin-left: -20%;
    }

    .Content {
        top: 10px;
        width: 90%;
    }

    .ContentPlayer {
        margin-top: 30px;
    }
}

@media screen and (min-width: 900px) {
    .Content {
        width: 750px;
    }
}

@media screen and (min-width: 1200px) {
    .Content {
        width: 900px;
    }

    .VideoDetail {
        flex-wrap: nowrap;
    }

    .VideoSection {
        width: 80%;
    }

    .Recommendations {
        width: 45%;
        box-sizing: border-box;
        padding-left: 20px;
    }
}